<div class="fleet">

  <p ng-show="!fleet.ships.length" class="no-ships">
    This fleet has no ships on record.  Please consult the Datamancers on Technosphere IV for possible data integrity issues.
  </p>

  <table class="fleet__table">
    <tr ng-repeat="ship in fleet.ships">
      <td class="fleet__table-logo">
        <img ng-src="" alt="Ship Logo" />
      </td>
      <td class="fleet__table-name">
        <a href="" ng-click="fleet.goToShip(ship.id);">
          {{ ship.name }}
        </a>
      </td>
    </tr>
  </table>

  <ul class="fleet_links">
    <li>
      <a href="" ng-click="fleet.goToCommand();">
        Go back to fleet roster
      </a>
    </li>
  </ul>

</div>