<div class="command container">
  <div class="row">

    <div class="col-sm-3 sidebar-nav">
      <nav class="navbar navbar-default">
        <ul class="nav nav-pills nav-stacked">
          <li ng-repeat="fleet in command.fleets"><a ng-click="command.getShips(fleet.id);" data-toggle="tab">{{ fleet.name }}</a></li>
        </ul>
      </nav>
    </div>

    <div ng-hide="!command.ships.length" class="col-sm-3 sidebar-nav">
      <nav class="navbar navbar-default">
        <ul class="nav nav-pills nav-stacked">
          <li ng-repeat="ship in command.ships"><a ng-click="command.getOfficers(ship.id);" data-toggle="tab">{{ ship.name }}</a></li>
        </ul>
      </nav>
    </div>

    <div ng-hide="!command.officers.length" class="col-sm-3 sidebar-nav">
      <nav class="navbar navbar-default">
        <ul class="nav nav-pills nav-stacked">
          <li ng-repeat="officer in command.officers"><a ng-click="command.getOfficer(officer.id);" data-toggle="tab">{{ officer.name }}</a></li>
        </ul>
      </nav>
    </div>

    <div ng-hide="!command.officer.length" class="col-sm-3">
      <div ng-repeat="officer in command.officer" class="well well-sm">{{ officer.rank }} {{ officer.name }} is an officer from {{officer.home_planet }} with a distinguished career.</div>
    </div>

  </div>
</div>