<div class="officer">

  <div ng-show="!officer.officers.length" class="no-officers">
    This officer does not exist.  Please consult the Datamancers on Technosphere IV for possible data integrity issues.
  </div>

  <div ng-show="officer.officers.length" data-spy="scroll" data-target="#myScrollspy" data-offset="20">
    <div class="container">
      <div class="row">
        <nav class="col-sm-3" id="myScrollspy">
          <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="officer in officer.officers">
              <a href="#officer{{ officer.id }}">{{ officer.rank }} {{ officer.name }}</a>
            </li>
          </ul>
        </nav>
        <div ng-repeat="officer in officer.officers" class="col-sm-9">
          <div id="officer{{ officer.id }}">
            <h1>{{ officer.rank }} {{ officer.name }}</h1>
            <p>{{ officer.rank }} {{ officer.name }}'s home planet is {{ officer.home_planet }}.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="officer_list">


    <div ng-repeat="officer in officer.officers" class="officer__list-info">
      <dl>
        <dt>Rank</dt>
        <dd>{{ officer.rank }}</dd>

        <dt>Name</dt>
        <dd>{{ officer.name }}</dd>

        <dt>Home Planet</dt>
        <dd>{{ officer.home_planet }}</dd>
      </dl>
    </div>
  </div>

  <ul class="officer_links list-group">
    <li class="list-group-item">
      <a href="" ng-click="officer.goToShip();">
        Go back to ship officer roster
      </a>
    </li>
    <li class="list-group-item">
      <a href="" ng-click="officer.goToFleet();">
        Go back to fleet ship roster
      </a>
    </li>
    <li class="list-group-item">
      <a href="" ng-click="officer.goToCommand();">
        Go back to fleet roster
      </a>
    </li>
  </ul>

</div>