{% load staticfiles %}

<!doctype html>
<html ng-app="GalacticApp">
  <head>
    <meta charset="utf-8">
    <title>Argelian Galactic Empire Star Command</title>
    <link href="{% static "assets/bootstrap3/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <style>
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
    </style>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header class="header" role="banner">
      <div class="header__text jumbotron">
        <p>Argelian Galactic Empire Star Command</p>
      </div>
    </header>

    <main class="main" role="main">
      <div ng-view class="flex"></div>
    </main>

    <!-- Vendor libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
    <script src="{% static "assets/js/angular-route.js" %}"></script>
    <script src="{% static "assets/js/angular-sanitize.js" %}"></script>
    <script src="{% static "assets/bootstrap3/js/bootstrap.min.js" %}"></script>
    <!-- Application Files -->
    <script src="{% static "app/components/app.js" %}"></script>

    <script src="{% static "app/components/command/CommandCtrl.js" %}"></script>
    <script src="{% static "app/components/command/CommandDrctv.js" %}"></script>
    <script src="{% static "app/components/command/CommandFactory.js" %}"></script>

    <script src="{% static "app/components/fleet/FleetCtrl.js" %}"></script>
    <script src="{% static "app/components/fleet/FleetDrctv.js" %}"></script>
    <script src="{% static "app/components/fleet/FleetFactory.js" %}"></script>

    <script src="{% static "app/components/ship/ShipCtrl.js" %}"></script>
    <script src="{% static "app/components/ship/ShipDrctv.js" %}"></script>
    <script src="{% static "app/components/ship/ShipFactory.js" %}"></script>

    <script src="{% static "app/components/officer/OfficerCtrl.js" %}"></script>
    <script src="{% static "app/components/officer/OfficerDrctv.js" %}"></script>
    <script src="{% static "app/components/officer/OfficerFactory.js" %}"></script>
  </body>
</html>
