{% load staticfiles %}

<!doctype html>
<html ng-app="GalacticApp">
  <head>
    <meta charset="utf-8">
    <title>Argelian Galactic Empire Star Command</title>
    <link href="{% static "assets/bootstrap3/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/style.css" %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <style>
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
    </style>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header class="header" role="banner">
      <div class="header__text jumbotron text-center">
        <p>Argelian Galactic Empire Star Command</p>
      </div>
    </header>

    <div ng-controller="CommandCtrl">
      <div class="module directive">
        <command></command>
      </div>
    </div>

    <!-- Vendor libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
    <script src="{% static "assets/bootstrap3/js/bootstrap.min.js" %}"></script>

    <!-- Application Files -->
    <script src="{% static "app/components/app.js" %}"></script>

    <script src="{% static "app/components/command/CommandCtrl.js" %}"></script>
    <script src="{% static "app/components/command/CommandDrctv.js" %}"></script>
    <script src="{% static "app/components/command/CommandFactory.js" %}"></script>
  </body>
</html>
